<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ie.ul.traintracker">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:icon="@drawable/ic_icon" android:label="@string/app_name">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9355054563424951~7162760569" />
        <activity
            android:name="ie.ul.traintracker.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ie.ul.traintracker.CheckTrains"
            android:label="Check the Trains"/>
        <activity android:name="ie.ul.traintracker.AddJourney"
            android:label="Your Journeys"/>
        <activity android:name="ie.ul.traintracker.Settings"
            android:label="Settings"/>
        <activity android:name="ie.ul.traintracker.Help"
            android:label="Help" />
        <receiver
            android:name="ie.ul.traintracker.AlarmReceiver" android:enabled="true">
        </receiver>
        <receiver android:name="ie.ul.traintracker.BootReceiver" android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>