<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.ul.traintracker"
    android:versionCode="1"
    android:versionName="1.0">

    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9355054563424951~7162760569" />
        <activity
            android:name="ie.ul.traintracker.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ie.ul.traintracker.CheckTrains"/>
        <activity android:name="ie.ul.traintracker.AddJourney"/>
        <activity android:name="ie.ul.traintracker.Settings"
            android:label="Settings"/>
    </application>

</manifest>